:root {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background: lightblue;
    font-size: 1.5rem;
    padding: 1.5rem;
}

#add-button {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#new-book {
    font-size: 1.5rem;
    padding: 5px 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bookshelf {
    background: pink;
    margin: 0px 40px;
}

.book-card {
    background: green;
    width: 10%;
}

form {
    display: none; /* hiding for now while testing the display "shelf"
    /*display: flex; /* Change this to "none" to hide, then use JS to update to flex when button is pressed */ 
    flex-direction: column;
    margin: auto;
    padding: 35px 40px;
    gap: 30px;
    width: 400px;
    border: 4px solid lightblue;
    border-radius: 5%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 15px;
}

input, select {
    height: 1.8rem;
    font-size: 1.3rem;
    width: 100%;
}

#title, #author, #pages {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-buttons > button {
    font-size: 1.4rem;
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    background: lightblue;
    position:absolute;
    bottom:0;
    width:100%;
    padding: 0.6rem;
}